@import url('https://fonts.googleapis.com/css2? family = Baloo + Tammudu + 2: wght @ 400; 500 & family = Josefin + Slab: ital, wght @ 0,300; 0,400; 0,600; 1.300 & family = Mali: ital, wght @ 0,200; 0,400; 1.400 & display = swap ');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.hamburguer{
    /*Menu*/
/*background-color: brown;*/
width: 2rem;
height: 2rem;
position: fixed; /*Torna o elemento fixo na tela*/
z-index: 100; /*Serve para trazer o elemento para frente do outro*/
right: 2rem; /*Movendo ele em relação a margem*/
top: 2rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
cursor: pointer;
}
.line{
    /*Formatando as linhas que vai ficar dentro do menu*/
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black

}
.img-wrapper img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s; /*Essa e a animação e o nome vem do keyframes*/
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    animation: moveBanner 1s;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
    }
}
.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: "Baloo Tammudu 2", serif;
    font-weight: 200;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.banner p {
    font-family: 'Josefin Slab', serif;
    color: #FFF;
    font-size: 2rem;
    text-shadow: 1px 2px rgba(0,0,0,0.4);
    margin-top: .5rem;
    margin-bottom: .5rem;

}
.banner button{
    font-family: "Muli", serif ;
    color: #fff;
    background: #8E2DE2; 
    letter-spacing: 0.1rem;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    text-transform:uppercase ;
    border-radius: 5px;
    font-weight: 700;
}
.banner button:hover{
    opacity: 0.8;
    color: black;
    font-weight: 700;

}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right:-20rem; /*Como a posição e 0 esse -20 faz ele sumir*/
    transition: all 1s;
    
    
}
.sidebar.show-menu{
    /*Deve ter os nomes juntos acima para funcionar*/
    right: 0; /*javascript cria a classe e se ela tive ele adiciona na pocição inicial*/
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link{
    font-family: sans-serif ;
    font-size: 2rem;
    color: #555;
    transition: color 1s;/*Serve para indicar que quando for trocar a color atraves do hover vai demora 1 segundo */
}
.menu-link:hover{
    color: #4A00E0;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}
.social-media i {
    background-color: #8E2DE2;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}
.social-media i:hover{
    background-color: #4A00E0;
}